


<div ng-controller="associationsController">

   <form>
      <!--ng-init ensures that the dropdown will show the first value by default-->
      <select ng-model="newAssoc.playerObject">
         <!--Each option displays the player's name, but has a value of that player's index-->
         <option ng-repeat="player in players" value={{player}} ng-bind="player.name"></option>
      </select>
      <select ng-model="newAssoc.teamObject">
         <option ng-repeat="team in teams" value={{team}} ng-bind="team.name"></option>
      </select>
      <!--When the button is clicked, run the addPlayerToTeam function-->
      <button type="submit" ng-click="addPlayerToTeam(newAssoc)">Assign Player To Team</button>
   </form>

   <table border="1">
      <tr>
         <td>Name</td>
         <td>Team</td>
         <td></td>
      </tr>
      <tr ng-repeat="player in players">
         <td ng-bind="player.name"></td>
         <td ng-bind="player.team"></td>
         <!--When the button is clicked, run the removePlayerFromTeam function-->
         <td><button ng-click="removePlayerFromTeam($index)">Clear Assignment</button></td>
      </tr>
   </table>
</div>
