<section ng-controller='playersController as PC'>

  <article>
    <form name='newPlayer' ng-submit='create(player)'>
      Player Name: <input type='text' name='name' ng-model='player.name' />
      <input type='submit' value='Add Player' />
    </form>
  </article>

  <article class=''>
    <table>
      <thead>
        <th>Player id</th>
        <th>Player Name</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat='player in players'>
          <td ng-bind='player._id'></td>
          <td ng-bind='player.name'></td>
          <td><button ng-click='delete(player)'>Delete</button></td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
