<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Results</title>
  </head>

  <body>
    <div id="container">
      <h1>Submitted Info</h1>

      <div id="name">
        <p>Name:</p>
        <p><%= context.name %></p>
      </div>

      <div id="location">
          <p>Location:</p>
          <p><%= context.location %></p>
      </div>

      <div id="language">
        <p>Favorite Language:</p>
        <p><%= context.language %></p>
      </div>

      <div id="comment">
        <p>Comment:</p>
        <p><%= context.comment %></p>
      </div>

    </div>
  </body>

</html>
