<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/dogs/create' id='new_dog' method='post'>
      <label for='breed'>Breed: </label>
      <input type=text name='breed' />
      <label for='life_span'>Life Span: </label>
      <input type=text name='life_span' />
      <label for='barking'>Average Barking: </label>
      <input type=text name='barking' />
      <input type='submit' value='Add Dog'/>
    </form>
  </body>
</html>
