
        <h2>Name: <%= context.name %></h2>
        <h2>Location: <%= context.location %></h2>
        <h2>Favorite Language: <%= context.language %></h2>
        <h2>Comment: <%= context.comment %></h2>
