<section ng-controller='productController as pc'>
  <div class='index_search_bar'>
    Search bar
    <label>Filter: <input type='text'/></label>

    <form name='addProduct' ng-submit='createProduct(newProduct)'>
      <label>Name: <input type='text' ng-model='newProduct.name' /></label>
      <label>Image (url): <input type='text' ng-model='newProduct.url' /></label>
      <label>Description: <input type='textarea' ng-model='newProduct.description' /></label>
      <label>Quantity: <input type='text' ng-model='newProduct.quantity' required='Number'/></label>
      <input type='submit' value='Add Product' />
    </form>
  </div>

  <div class='main'>
    <div class='product_display' ng-repeat='product in products'>
      <h3>{{product.name}}</h3>
      <img ng-show="product.url !== undefined" ng-src="{{product.url}}" alt="Product Image" class='thumbnail product-url'>
      <p>{{product.description}}</p>
      <p>({{product.quantity}} left)</p>
      <button type="button" class="btn btn-danger" ng-click='deleteProduct(product._id)'>X</button>
    </div>
  </div>

</section>
